@model List<Employee>

<table class="table table-bordered">
    <tr>
        <th>First Name</th>
        <th>Age</th>
        <th>Salary</th>
    </tr>

    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.FirstName</td>
            <td>@employee.Age</td>
            <td>@employee.Salary</td>
        </tr>
    }
</table>

<a href="Employee/EmployeeForm" class="btn btn-dark">Search</a>